@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
    position: relative;
    // background-color: $primary-table;
    @include mobile-XS() {
        font-size: 0.875rem;
    }
    @include navbar();
    @include footer();
    @include breadcrumb();
    @include back-top();
    @include form();
    @include datepicker();
    @include table();
    @include searchbar();
    @include fullcalendar();
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding-top: calc(60px + 16px);
        @include pad {
            padding-top: 60px;
        }
        @include mobile-XS {
            padding-top: 50px;
        }
        section {
            width: 100%;
        }
        .brief-p {
            margin-bottom: $m-S;
        }
        .subtitle {
            @include mobile-L {
                margin-bottom: $m-XS;
            }
        }
        // 一般
        .section-normal {
            // @include mobile-L {
            //     padding: 0 $p-XS;
            // }
            ul:not(.nav, .breadcrumb) {
                padding: 0;
                li:not(.nav-item) {
                    line-height: 2;
                    color: $text;
                    list-style: decimal;
                    list-style-position: inside;
                }
            }

            h6 {
                margin-bottom: $p-XXS;
            }
            h4 {
                margin-bottom: $p-XXS;
            }
            h3,
            h4,
            h5 {
                margin-top: $m-S;
                margin-bottom: $p-XXS;
            }
            img {
                margin-top: $m-XS;
            }
            .nav.nav-pills {
                padding: 0;
                .nav-item {
                    margin: $p-XXS;
                    margin-left: 0;
                    @include mobile-L {
                        margin: $p-XS;
                        margin-left: 0;
                    }
                    a.tab {
                        border: solid 1px $secondary;
                        padding: $m-XXS $p-XXS;
                        font-size: $size-p;
                        color: black;
                        border-radius: 4px;
                        @include mobile-L {
                            font-size: $size-h5;
                        }
                    }
                    .active {
                        background-color: rgba($color: $secondary, $alpha: 0.1);
                    }
                }
            }
            .tab-content {
                background-color: rgba($color: $secondary, $alpha: 0.1);
                padding: $p-XS $p-S;
                margin-top: $m-XS;
                .tab-pane {
                    h4:not(:first-child) {
                        margin-top: $m-XS;
                    }
                    a {
                        width: 100%;
                        line-height: 2;
                    }
                }
                button {
                    margin: $m-XS 0;
                    width: 15%;
                    @include mobile-L {
                        width: 100%;
                    }
                }
            }
            .btn-gp {
                margin-top: $m-S;
                button {
                    margin-right: $m-XS;
                }
            }
            .icon-gp {
                display: flex;
                flex-wrap: wrap;
                margin-top: $m-S;
                a {
                    margin-right: $m-S;
                    margin-bottom: $m-S;
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0;
                    }
                }
            }
            // chart
            .chart-gp {
                height: 100%;
                h3{
                    display: inline-block;
                    @include mobile-L{
                        width: 100%;
                    }
                }
                button{
                    margin-left: $m-XS;
                    background-color: #007bff;
                    @include mobile-L{
                        width: 100%;
                        margin-left: 0;
                        margin-top: $m-XS;
                    }
                }
                .pie-chart {
                    margin: $m-S 0;
                    height: 600px;
                    @include mobile-L {
                        height: 500px;
                    }
                }
                .line-chart {
                    margin: $m-S 0;
                    height: 600px;
                    @include mobile-L {
                        height: 400px;
                    }
                }
            }
            table {
                margin-top: $m-XS;
                margin-bottom: $m-L;
            }
        }
        // index
        .section-menu {
            display: flex;
            justify-content: space-between;
            height: 80vh;
            align-items: center;
            @include mobile-L {
                height: initial;
                flex-wrap: wrap;
                margin-top: $m-S;
                // padding: 0 $p-XS;
            }
            .block {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                width: 47%;
                border: solid 1px $primary-tint;
                padding: $p-2L 0;
                background-color: white;
                border-radius: 10px;
                @include mobile-L {
                    width: 100%;
                    margin-bottom: $m-M;
                    padding: $p-L 0;
                }
                img {
                    height: 100px;
                    @include mobile-L {
                        height: 80px;
                    }
                    @include mobile-XS {
                        height: 70px;
                    }
                }
                h3 {
                    margin-top: $m-S;
                }
            }
        }
        // 單一縣市查詢
        .section-map {
            display: flex;
            justify-content: space-between;
            margin-top: $m-XS;
            @include pad {
                flex-wrap: wrap;
            }
            // @include mobile-L {
            //     padding: 0 $p-XS;
            // }
            .map {
                width: 30%;
                @include web-S {
                    width: 35%;
                }
                svg {
                    @include pad() {
                        width: 80vw;
                    }
                    polygon,
                    path {
                        cursor: pointer;
                        &:hover {
                            fill: $secondary;
                        }
                    }
                }
            }
            .content {
                width: 60%;
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                @include pad {
                    width: 100%;
                    flex-wrap: wrap;
                }
                .left {
                    width: 47%;
                    @include pad {
                        width: 100%;
                    }
                    .info {
                        @include pad {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                        .text-gp {
                            margin-bottom: $m-S;
                            @include pad {
                                width: 48%;
                            }
                            @include mobile-L {
                                width: 100%;
                            }
                            .note {
                                font-size: $size-caption;
                                color: $complementary;
                            }
                            .notice {
                                padding: 0;
                            }
                        }
                    }
                }
                .right {
                    width: 47%;
                    @include pad {
                        width: 100%;
                    }
                }
            }
        }
        // 多縣市查詢
        .section-select {
            // @include mobile-L {
            //     padding: 0 $p-XS;
            // }
            .content {
                display: flex;
                justify-content: space-between;
                @include mobile-L{
                    flex-wrap: wrap;
                }
                .left {
                    width: 48%;
                    border: solid 1px $bk-20;
                    padding: $p-S $p-M;
                    @include mobile-L{
                        width: 100%;
                        margin-bottom: $m-S;
                    }
                }
                .right {
                    width: 48%;
                    @include mobile-L{
                        width: 100%;
                    }
                }
            }
        }
        //登入
        .section-login {
            margin-top: $p-L;
            position: relative;
            width: 100%;
            h2 {
                text-align: center;
            }
            &.container {
                padding: 0;
                max-width: 600px;
                @include mobile-L {
                    margin: 0;
                    max-width: unset;
                    width: 100%;
                }
                input[type="submit"]{
                    margin-top: $m-XS;
                }
            }
        }
    }
}
